{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}

<h2>Delete your SheCodes News account?</h2>

<p>This action will permanently delete your profile and all of your stories. It cannot be undone.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="delete-btn" type="submit">Delete Account</button>
</form>

<a class="purple-to-orange-link" href="{% url 'users:editProfile' %}"><p>I've changed my mind - go back!</p></a>

{% endblock %}