{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}

<h2>Profile</h2>

<img id="profile-img" src={{ user.image_url }} height='200px' width='250px'>
<h3>{{ user.username }}</h3>
<p>{{ user.bio }}</p>

<h4>{{ users_stories|length }} Published Stor{{ users_stories|length|pluralize:"y,ies"}}:</h4>
{% for story in users_stories %}
    <div class="profile-story-list-item">
        <a href="{% url 'news:story' story.id %}">
            <img height="50px" width="50px" src={{ story.image_url }}>
            <div>
                <p>{{ story.title }}</p>
                <p>{{ story.pub_date }}</p>
            </div>
        </a>
{% endfor %}


{% endblock %}