@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12px;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

a.purple-to-orange-link {
    color: rgb(161, 7, 204);
}

nav a:hover,
a.purple-to-orange-link:hover {
    color: orange;
}

form p {
    display: flex;
    justify-content: space-between;
}

form p label {
    margin-right: 4px;
}

input {
    padding: 4px 12px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
}


#delete-link {
    padding: 4px 12px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    color: red;
    border: solid red 1px;
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
}

#delete-btn:hover {
    color: white;
    background-color: red;
}

#update-btn  {
    color: rgb(161, 7, 204);
    border: solid rgb(161, 7, 204) 1px;
    float: right;
}

#update-btn:hover {
    color: white;
    background-color: rgb(161, 7, 204);
}

img#profile-img {
    filter: none;
    border-radius: 25%;
    object-fit: cover;
}