form p {
    display: flex;
    /* justify-content: space-between; */
}

input {
    color: rgb(161, 7, 204);
    border: solid 2px;
    border-radius: 3px;
}

input.profile-form-input,
textarea#id_bio,
textarea#content-ta {
    width: 75vw;
    max-width: 600px;
    max-width: 450px;
    color: rgb(161, 7, 204);;
    border: solid 2px;
    border-radius: 3px;
    flex-grow: 2;
    margin-left: 12px;
}

input#id_username,
input#id_password2 {
    margin-left: 12px;
    margin-right: 12px;
}

input#id_image_url {
    width: 75vw;
    max-width: 600px;
    margin-left: 12px;
}

div#horizontal-list {
    display: flex;
    flex-wrap: wrap;
}

div.profile-story-list-item {
    width: 200px;
    margin: 12px;
}

div.profile-story-list-item:hover a img {
    filter: none;
}

div#id_password,
span.helptext {
    font-family: monospace;
}

