{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <a class="purple-to-orange-link" href="{% url 'news:newStory' %}">Write New Story</a>
{% endif %}

<h2>{{ category_title }}</h2>

    <div id="all-stories">
        {% for story in stories %}
        {% include "./storyCard.html" with story=story %}
        {% endfor %}
    </div>
  

    <div id="all-stories">

    </div>

{% endblock %}