{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<h2>Delete This Story?</h2>

<h3>{{ object.title }}</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="delete-link" type="submit">Delete Story</button>
</form>

<a class="purple-to-orange-link" href="{% url 'news:story' object.id %}"><p>I've changed my mind - go back!</p></a>

{% endblock %}