{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div>
    <div>
        <div>
            {% if user.is_authenticated %}
            <a class="purple-to-orange-link" href="{% url 'news:newStory' %}">Write New Story</a>
            {% endif %}
        </div>
        <div>
            <a class="purple-to-orange-link" href="{% url 'news:newStory' %}">Show All Stories</a><p>|</p>
            <a class="purple-to-orange-link" href="{% url 'news:newStory' %}">Followed Categories Only</a>
        </div>
    
    </div>

{% for item in cat_stories %}
<p>{{item.title}}</p>
{% endfor %}

  
    <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}